system/system/priv-app/SumeNNService/SumeNNService.apk
system/system/priv-app/YourPhone_P1_5/YourPhone_P1_5.apk
system/system/priv-app/SecSettings/SecSettings.apk
system/system/priv-app/PhotoRemasterService/PhotoRemasterService.apk
system/system/priv-app/DualOutFocusViewer_S/DualOutFocusViewer_S.apk
system/system/priv-app/AREmojiEditor/AREmojiEditor.apk
system/system/priv-app/OneDrive_Samsung_v3/OneDrive_Samsung_v3.apk
system/system/app/OCRDataProvider/OCRDataProvider.apk
system/system/app/HoneyBoard/HoneyBoard.apk
system/system/etc/mediasearch/data/clip_txt_enc.tflite
system/system/preload/ClipStudio/ClipStudio.apk
recovery.img
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Messages/Messages.apk
product/app/Maps/Maps.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/app/Gmail2/Gmail2.apk
bootRE/boot.elf
